@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

.text-outline {
    -webkit-text-stroke: 4px black;
}

.text-shadow-outline {
    text-shadow: 3px 3px 0 black,
    -3px 3px 0 black,
    3px -3px 0 black,
    -3px -3px 0 black;
}

.skip-link {
    @apply absolute left-0 top-0 -translate-y-full bg-[#E20147] text-black px-4 py-2 z-[9999] opacity-0 focus:opacity-100 focus:translate-y-0 focus:outline-none focus:ring-2 focus:ring-white transition-all duration-200 shadow-md;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s
    }
}
